@inherits LayoutComponentBase

    <div class="flex justify-center justify-items-center w-full">
        <div class="grid gap-10 w-full max-w-[1112px]">
            <NavMenu />
        </div>
    </div>
    @Body
