@page "/"
@layout MainLayout

<PageTitle>Axpo Contract Onboarding</PageTitle>
<div class="bg-surface">
  <SectionWrapper>
    <h1 class="w-full h-max text-4xl">Contract Onboarding</h1>
  </SectionWrapper>
</div>
<SectionWrapper>
  <h2 class="text-text-primary text-xl font-bold mb-0">Contract Summary</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-2 gap-4">
    <ContractInfo />
    <ContractInfo />
  </div>
</SectionWrapper>