<div>
  <div class="flex justify-between items-center gap-2 w-full border-b border-surface pb-2">
    <p class="h-max m-0 font-lucida font-bold text-base">Overview</p>
    <ChevronUpIcon />
  </div>

  <div class="grid grid-cols-2 gap-6 py-2 px-3 bg-surface mt-3">
    <div class="grid gap-6 items-start">
      <LabeledInfo Label="Contract Type">
        <Value>Existing Client - New Business</Value>
      </LabeledInfo>
      <LabeledInfo Label="Country">
        <Value><FrIcon /> France</Value>
      </LabeledInfo>
      <LabeledInfo Label="Period">
        <Value>01/01/2023 - 31/12/2027</Value>
      </LabeledInfo>
    </div>
    <div class="grid gap-6 h-max">
      <LabeledInfo Label="Commodity">
        <Value>Power</Value>
      </LabeledInfo>
      <LabeledInfo Label="Signature Date">
        <Value>26/04/2023</Value>
      </LabeledInfo>
    </div>
  </div>
</div>